.floating {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--primary-bg);
  height: calc(100vh - var(--header-height));
  z-index: 1;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(#000, 0.1);
  overflow-y: auto;
}

.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    gap: 2rem;
    flex-wrap: wrap;
  }

  img {
    border-radius: var(--border-radius);
  }

  .image {
    width: 50%;
  }
}

.category {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    gap: 2rem;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: var(--border-radius);
    background: var(--accent-bg);
    transition: transform 0.3s ease;

    svg {
      width: 3rem;
      height: 3rem;
      fill: red;
    }
  }

  &.noIcon {
    svg {
      fill: var(--primary-color);
      color: var(--primary-color);
    }
  }

  &.clothes {
    svg {
      fill: rgb(100, 100, 180);
      color: rgb(100, 100, 180);
    }
  }

  &.oziq-ovqatlar {
    svg {
      fill: orangered;
      color: orangered;
    }
  }

  &:hover,
  &:focus {
    span {
      transform: scale(1.2);
    }
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
